<form>
  .
  <div class="container">

    <div class="row">
      <div class="col-xs-8 form-group">
        <div class="row">
          <label for="prtype">Puchase Requisition Type : </label>
          <input type="text">
        </div>
        <div class="row">
          <label for="plat">Plant / Plant Description : </label>
          <input type="text">
        </div>
        <div class="row">
          <label for="businessarea">Business Area : </label>
          <input type="text">
        </div>
        <div class="row">
          <label for="profitCenter">Profit Center : </label>
          <input type="text">
        </div>
        <div class="row">
          <label for="requestby">Request By : </label>
          <input type="text" id="">
        </div>
      </div>
      <div class="col-xs-4 form-group">
        <div class="row">
          <label for="prnumber">PR Number : </label>
          <input type="text" id="">
        </div>
        <div class="row">
          <label for="prdate">PR Date : </label>
          <input type="text" id="">
        </div>
        <div class="row">
          <label for="investNumver">Investment Number : </label>
          <input type="text" id="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 form-group">
        <table>
          <tr>
            <td><label for="itemdesc">Item Description : </label></td>
            <td><label for="dlvdate">Dlv. Date : </label></td>
            <td><label for="quantity">Quantity : </label></td>
            <td><label for="unit">Unit</label></td>
            <td><label for="unitprice">Unit Price</label></td>
            <td><label for="supname">Supplier Name</label></td>
          <tr>
            <td>
              
              <input type="text" id="itemdesc" tabindex="5" #itemdescription>
            </td>
            <td>
              
              <input type="date" id="dlvdate" tabindex="5" #itemdescription>
            </td>
            <td>
              
              <input type="number" id="quantity" tabindex="5" #itemdescription>
            </td>
            <td>
              
              <div class="dropdown">
                <button #unitbutton class="from-control btn btn-default dropdown-toggle" type="button" id="unit" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="true" tabindex="8">
                  {{ unit }}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="unit">
                  <li>
                    <a href="#" *ngFor="let _unit of units" (click)="unit = _unit.unit">{{ _unit.unit }}</a>
                  </li>
                </ul>
              </div>
            </td>
            <td>
              
              <input disabled="true" type="number" class="form-control" id="unitprice" tabindex="9" #totalpricenumber>

            </td>
            <td>

            </td>
            <td>
              
              <div class="dropdown">
                <button #supplierbutton class="btn btn-default dropdown-toggle" type="button" id="supname" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="true" tabindex="10">{{ sup }}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="supname">
                  <li>
                    <a href="#" *ngFor="let supplier of suppliers" (click)="sup = supplier.sp">{{ supplier.sp }}</a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </table>


      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" type="submit" (click)="itemAdded()">Save</button>
      <button class="btn btn-default">Cancel</button>
      <button class="btn btn-danger" type="button">Test Service</button>
    </div>
  </div>
</form>
