<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <td>PR Number</td>
        <td>Cost Center</td>
        <td>GL Number</td>
        <td>PR Date</td>
        <td>Item Desctription</td>
        <td>Unit Price</td>
        <td>Qty</td>
        <td>Unit</td>
        <td>Total Price</td>
        <td>Supplier Name</td>
        <td>Due Date</td>
        <td>Remark</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prinputdata of prinputdatas">
        <td>{{ prinputdata.prnumber }}</td>
        <td>{{ prinputdata.prprofitarea }}</td>
        <td>{{ prinputdata.prinvnumber }}</td>
        <td>{{ prinputdata.prdate }}</td>
        <td>{{ prinputdata.pritemdesc }}</td>
        <td>{{ prinputdata.prunitprice }}</td>
        <td>{{ prinputdata.prqty }}</td>
        <td>{{ prinputdata.prunit }}</td>
        <td>{{ prinputdata.prtotalprice }}</td>
        <td>{{ prinputdata.prsuppliername }}</td>
        <td>{{ prinputdata.prdlvdate }}</td>
        <td>{{ prinputdata.prremark }}</td>
      </tr>
    </tbody>
  </table>
</div>